<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav" style="background-color: rgba(255,255,255,0.5);">
    <div class="container"><a class="navbar-brand" href="{{site.baseurl}}/" style="color: rgb(13,12,12);">Brand</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div
                class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{site.baseurl}}/" style="color: #0d0c0c;">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{site.baseurl}}/about" style="color: rgb(13,12,12);">About us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="{{site.baseurl}}/contact" style="color: rgb(13,12,12);">Contact us</a></li>
            </ul>
        </div>
    </div>
</nav>