---
layout: default
title: Home
type: home
---

<header>
    <section id="carousel">
        <div class="carousel slide" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner" role="listbox">
                {%for post in strapi.collections.posts limit: 3%}
                    <div class="carousel-item {%if forloop.index0 == 0 %} active {%endif%}">
                        <div class="jumbotron pulse animated carousel-hero" style="background-image:url('{{site.strapi.endpoint}}{{post.image.url}}'  );">
                            <div class="hero-overlay"></div>
                            <h1 class="hero-title">{{post.title}}</h1>
                            <p class="hero-subtitle">{{post.content | truncate: 200}}</p>
                            <p><a class="btn btn-primary hero-button plat" role="button" href="{{post.url | prepend: site.baseurl}}">Learn more</a></p>
                        </div>
                    </div>
                {%endfor%}
            </div>
            <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-chevron-right"></i><span class="sr-only">Next</span></a></div>
            <ol
                    class="carousel-indicators">
                <li data-target="#carousel-1" data-slide-to="0"></li>
                <li data-target="#carousel-1" data-slide-to="1"></li>
                <li data-target="#carousel-1" data-slide-to="2" class="active"></li>
            </ol>
        </div>
    </section>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8">
            {% for post in strapi.collections.posts limit: 10 %}
                <div class="post-preview">
                    <a href="{{post.url | prepend: site.baseurl}}">
                        <h2 class="post-title">{{post.title}}</h2>
                        <h3 class="post-subtitle">{{post.subtitle}}</h3>
                        <p>{{post.content | truncate: 200}}</p>
                    </a>
                    <p class="post-meta">Posted by&nbsp;
                        <a href="#">
                            {% if post.user.username %}
                                {{post.user.username}}
                            {% else %}
                                {{post.author}}
                            {% endif %}
                        </a> on {{post.date | date_to_long_string }}
                    </p>
                </div>
                <hr>
            {% endfor %}

            <div class="clearfix"><button class="btn btn-primary float-right" type="button">Older Posts&nbsp;⇒</button></div>
        </div>
    </div>
</div>