---
layout: default
comments: true
---


<header class="masthead"  style="background-image:url('{{'/assets/uploads/' | append: page.image relaive_url}}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <div class="post-heading">
                    <h1>{{page.title}}</h1>
                    <h2 class="subheading">{{page.subtitle}}</h2><span class="meta">Posted by&nbsp;<a href="#">{{page.author}}</a>&nbsp;on {{page.date | date_to_long_string }}</span></div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-10 mx-auto post">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Home</a></li>
                        <li class="breadcrumb-item"><a href="{{site.baseurl}}/">Posts</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
                    </ol>
                </nav>
               <p>{{page.content | markdownify}}</p>
            </div>
        </div>
    </div>
</article>
